@model PressAgencyApp.ViewModels.Editor.EditorViewModelR

@{
    ViewBag.Title = "Editor";
    Layout = "~/Views/Shared/Dashboard.cshtml";

}

<h2>Editor</h2>

<div>
    <h4>EditorViewModelR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="~/images/@Model.Photo" width="250px" height="250px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditEditor", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "EditorPosts", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Editors")
</p>
